# Windows
Thumbs.db
Desktop.ini
# Unity
/.idea
/Assets/Exclude
/Assets/Exclude.meta
/Library
/Logs
/obj
/Temp
*.sln
*.csproj
*.user

Assets/AmplifyShaderEditor/

Assets/_TerrainAutoUpgrade/

Assets/_TerrainAutoUpgrade\.meta

Assets/AmplifyShaderEditor\.meta
